body {
  text-align: center;
  background: #faf3eb;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.block {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
}

button {
  width: 300px;
  height: 30px;
  font-size: 16px;
}
